@import "page_setup.css";
@import "magnifying-glass-decoration.css";
@import "navbar.css";

/* half transparent box for better blending with the background */
.alphabox {
    border: 1px dashed darkslategrey;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
}

#post-search-text {
    height: 20px;
    width: 300px;
}

h1, h2, h3{
    font-family: 'Courier New', Courier, monospace;
    color: #333030;
}

.monospacedgrey {
    font-family: 'Courier New', Courier, monospace;
    color: #333030;
}

.imagecaption {
    font-size: 10px;
}

@media(min-width: 500px) {
    .imagecaption {
        font-size: 14px;
    }
}