#authorarea {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15px 150px 15px;
  grid-template-areas:
    "about"
    "image"
    "name"
    "bio";
  width: auto;
  height: auto;
}

#authorlabel {
  display: grid;
  grid-area: about;
}

#authorimage {
  display: grid;
  grid-area: image;
  background-image: url("../images/author.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#authorname {
  display: grid;
  grid-area: name;
}
#authorbio {
  display: grid;
  grid-area: bio;
  font-size: 12px;
}

@media (min-width: 750px) {
  #authorarea {
    display: grid;
    grid-template-columns: 200px 1fr auto;
    grid-template-rows: 15px 150px 15px;
    grid-template-areas:
      "about about about"
      "image . bio"
      "name name name";
    width: 500px;
    height: 200px;
  }
}
